a{
    text-decoration:none;
    color: black;
}


body{
    background-color: #FAFAFA;
    margin: 0;
}

.course_name{
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.our-team {
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 4%) 0px 2px 10px;
    padding: 30px 40px 50px 40px;
    margin: 0 20px;
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    }


    .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
    }

    /*カード上部の図形*/

    /* .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
    } */

    .our-team:hover .picture::before {
    height: 100%;
    }

    .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    }

    .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    }

    .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    }

    .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
    }

    .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    }

    .course_detail{
        font-size: 12px;
        padding: 5px;
    }

    .our-team:hover .social {
    bottom: 0;
    }

    .our-team .social li {
    display: inline-block;
    }

    .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    }

    .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
    }


    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

/*コース別*/

.main{
    width: 80%;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 1rem;
    margin: 0 auto;

}

.course_container{
    box-shadow: rgb(0 0 0 / 7%) 0px 2px 10px;
    margin-top: 30px;
}

/*flexシリーズ*/

.flex{
    display: flex;
}


.flex-wrap{
    display: flex;
    flex-wrap: wrap;
  }

.justify-between{
    justify-content: space-between;
}

/*************/

.course_exp{
    margin-left: 50px;

}

.course_exp p{
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
}

.course_exp_title{
    font-family: Economica, sans-serif;
    font-weight: 400;
    font-size: 70px;
}

.bg-white{
    background-color: #fff;
}


/*ボタン設定*/
.btn-flat-border {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0.3em 0;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.btn_container{
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: rgb(0 0 0 / 7%) 0px 2px 10px;
}
/*********/

.syo {
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
    width: 130px;
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px black;
  }


  .syo-mi {
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
  }

  .btn-flat-border-lock {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 0.3em 0;
    text-decoration: none;
    color: #b4b4b4;
    border: solid 2px #a4a4a4;
    background-color: #f2f2f2;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
}

.btn-flat-border-lock:hover {
    background: #ff0000;
    opacity: 80%;
    color: white;
}

/*固定エリア*/

/*========= レイアウトのためのCSS ===============*/

h1,h2{
  font-size:1.2rem;
}

h2,
#container-2 p,
small{
  margin:0 0 30px 0;
}

small{
  display: block;
  text-align: center;
}
/*========= 左固定レイアウトのためのCSS ===============*/

/*左と右を囲う全体のエリア*/
#wrapper{
  position: relative;/*position stickyの基点にするため relativeをかける*/
    display: flex;/*左エリア、右エリア横並び指定*/
  flex-wrap: wrap;/*ボックスの折り返し可*/
}

/*左エリア*/
#fixed-area{
  /*左固定記述*/
    position: -webkit-sticky;/*Safari用*/
    position: sticky;
  top:0;
  /*横半分50%　縦を100vhにする*/
  width: 50%;
  height: 100vh;
  /*装飾のためのCSS*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  color:black;
  background-color: #f2f2f2;
}

/*右エリア*/
#container-2{
    padding: 100px;
  /*横半分50%にする*/
  width:50%;
}
/*右各セク


*/

@text: #111;
@base: #f4f4f4;
@link: #2a3644;
@button: #f26964;
@bottom: #ab4b47;

.rounded (@radius: 6px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
       -o-border-radius: @radius;
          border-radius: @radius;
}

.trans (@transition: .1s) {
  -webkit-transition: all @transition ease-in-out;
     -moz-transition: all @transition ease-in-out;
          transition: all @transition ease-in-out;
 
}

* {
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font:15px/1.25 'Alef';
  color:@text;
}

form {
  margin:70px auto;
  background:@link;
  width:347px;
  text-align:center;
  padding:40px;
  .rounded;
}

form > h1 {
  color:@base;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.7);
  font-weight:400;
  margin-bottom:20px;
}

input {
  background:rgba(0, 0, 0, 0.2);
  color:black;
  text-shadow:1px 1px 0px rgba(0, 0, 0,0.3);
  display:block;
  width:269px;
  padding:15px;
  font-size: ;
  margin-bottom:10px;
  .rounded;
  .trans;
  outline:none;
}

input:focus {
  background:rgba(0, 0, 0, 0.1);
  .trans;
}

::-webkit-input-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-moz-placeholder {
   color: rgba(225, 225, 225, 0.4); 
}

::-moz-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-ms-input-placeholder {  
   color: rgba(225, 225, 225, 0.4);
}

button {
  position:relative;
  display:block;
  margin-top:15px;
  margin-bottom:15px;
  padding:17px;
  width:270px;
  .rounded;
  .trans;
  font-size:1.2em;
  background:@button;
  color:@base;
  box-shadow:0px 3px 0px @bottom;
  cursor:pointer;
}

button:active {
  top:3px;
  box-shadow:none;
}






/*header*/
.brand {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px; }
   
  .site-header {
    position: relative;
    background-color: #def7ff; 
margin-bottom: 150px;}
   
  .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 600px) {
    .nav__wrapper {
      display: flex; } }
   
  @media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
   
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; }
   
  .nav__toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }